.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #393E46;
}

p {
  margin: 20px;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  color: red;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
  padding-bottom: 40px;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    font-family: 'Lobster', cursive;
}

#nav li {
    display: inline-block;
}

ul {
    padding-inline-start: 0px;
}

#nav li:hover a{
    color: #000;
    background-color: #ccc;
}

img {
    padding-top: 5%;
}